{% extends 'base.html' %}

{% block title %}
    主页
{% endblock %}

{% block css %}

{% endblock %}

{% block start-title %}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-4">
            <!-- Widget: user widget style 2 -->
            <div class="card card-widget small-box widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-info">
                    <h3>数据中心</h3>
                    <h5>消息通知</h5>

                    <div class="icon">
                    <i class="fas fa-chart-line"></i>
                    </div>
                </div>

                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">
                        {% for message in sheet0 %}
                            <li class="nav-item">
                                <a href="{% url 'message' message.id %}" class="nav-link">
                                    {{ message.title }}
                                    <span class="badge float-right">
                                        {{ message.created_time }}
                                    </span>
                                </a>

                            </li>

                        {% endfor %}

                    </ul>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.widget-user -->
        </div>


        <div class="col-4">
            <!-- Widget: user widget style 2 -->
            <div class="card card-widget small-box widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-info">
                    <h3>策略中心</h3>
                    <h5>消息通知</h5>

                    <div class="icon">
                    <i class="fas fa-map-marked-alt"></i>
                    </div>
                </div>

                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">

                        {% for message in sheet1 %}
                            <li class="nav-item">
                                <a href="{% url 'message' message.id %}" class="nav-link">
                                    {{ message.title }}
                                    <span class="badge float-right">
                                        {{ message.created_time }}
                                    </span>
                                </a>

                            </li>

                        {% endfor %}

                    </ul>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.widget-user -->
        </div>


        <div class="col-4">
            <!-- Widget: user widget style 2 -->
            <div class="card card-widget small-box widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-info">
                    <h3>百推学院</h3>
                    <h5>消息通知</h5>

                    <div class="icon">
                    <i class="fas fa-book-reader"></i>
                    </div>
                </div>

                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">

                        {% for message in sheet2 %}
                            <li class="nav-item">
                                <a href="{% url 'message' message.id %}" class="nav-link">
                                    {{ message.title }}
                                    <span class="badge float-right">
                                        {{ message.created_time }}
                                    </span>
                                </a>

                            </li>

                        {% endfor %}

                    </ul>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.widget-user -->
        </div>


    </div>

{% endblock %}