<!-- Sidebar Menu -->
{#<nav class="mt-2">#}
{#    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">#}
        <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
        {% for l1 in menu_data %}

            {% if l1.open %}

                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            {{ l1.title }}<i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        {% for l2 in l1.children %}
                            {% if l2.open %}
                                <li class="nav-item">
                                    <a href="{{ l2.url }}" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{ l2.title }}</p>
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="{{ l2.url }}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{ l2.title }}</p>
                                    </a>
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>

                </li>

            {% else %}

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            {{ l1.title }}<i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        {% for l2 in l1.children %}
                            {% if l2.open %}
                                <li class="nav-item">
                                    <a href="{{ l2.url }}" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{ l2.title }}</p>
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="{{ l2.url }}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{ l2.title }}</p>
                                    </a>
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>

                </li>

            {% endif %}

        {% endfor %}


        <!--li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                Simple Link<span class="right badge badge-danger">New</span>
                </p>
            </a>
        </li-->

{#    </ul>#}
{#</nav>#}
<!-- /.sidebar-menu -->
