{#<div class="panel-group" id="accordion">#}
{##}
{#{% for l1 in menu_data %}#}
{##}
{#    {% if l1.status %}#}
{#        {% if l1.open %}#}
{#            <div class="panel panel-default">#}
{#                <h4 class="panel-title">#}
{#                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">#}
{#                        {{ l1.title }}#}
{#                    </a>#}
{#                </h4>#}
{##}
{#                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in">#}
{#                    {% for l2 in l1.children %}#}
{#                        {% if l2.status %}#}
{#                            {% if l2.children %}#}
{##}
{#                                <h5 class="panel-title">#}
{#                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.parentloop.counter }}{{ forloop.counter }}">#}
{#                                        {{ l2.title }}#}
{#                                    </a>#}
{#                                </h5>#}
{#                                <div id="collapse{{ forloop.parentloop.counter }}{{ forloop.counter }}" class="panel-collapse collapse">#}
{#                                    {% for l3 in l2.children %}#}
{#                                        <div class="panel-body">#}
{#                                            <a href="{{ l3.url }}">{{ l3.title }}</a>#}
{#                                        </div>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{##}
{#                            {% else %}#}
{#                                <div class="panel-body">#}
{#                                    <a href="{{ l2.url }}">{{ l2.title }}</a>#}
{#                                </div>#}
{#                            {% endif %}#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </div>#}
{##}
{#            </div>#}
{#        {% else %}#}
{#            <div class="panel panel-default">#}
{#                <h4 class="panel-title">#}
{#                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">#}
{#                        {{ l1.title }}#}
{#                    </a>#}
{#                </h4>#}
{##}
{#                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">#}
{#                    {% for l2 in l1.children %}#}
{#                        {% if l2.status %}#}
{#                            {% if l2.children %}#}
{##}
{#                                <h5 class="panel-title">#}
{#                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.parentloop.counter }}{{ forloop.counter }}">#}
{#                                        {{ l2.title }}#}
{#                                    </a>#}
{#                                </h5>#}
{#                                <div id="collapse{{ forloop.parentloop.counter }}{{ forloop.counter }}" class="panel-collapse collapse">#}
{#                                    {% for l3 in l2.children %}#}
{#                                        <div class="panel-body">#}
{#                                            <a href="{{ l3.url }}">{{ l3.title }}</a>#}
{#                                        </div>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{##}
{#                            {% else %}#}
{#                                <div class="panel-body">#}
{#                                    <a href="{{ l2.url }}">{{ l2.title }}</a>#}
{#                                </div>#}
{#                            {% endif %}#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </div>#}
{##}
{#            </div>#}
{#        {% endif %}#}
{##}
{#    {% endif %}#}
{##}
{#{% endfor %}#}
{##}
{#</div>#}


<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
        {% for l1 in menu_data %}

            {% if l1.open %}

                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            {{ l1.title }}<i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        {% for l2 in l1.children %}
                            {% if l2.open %}
                                <li class="nav-item">
                                    <a href="{{ l2.url }}" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{ l2.title }}</p>
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="{{ l2.url }}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{ l2.title }}</p>
                                    </a>
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>

                </li>

            {% else %}

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            {{ l1.title }}<i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        {% for l2 in l1.children %}
                            {% if l2.open %}
                                <li class="nav-item">
                                    <a href="{{ l2.url }}" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{ l2.title }}</p>
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="{{ l2.url }}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{ l2.title }}</p>
                                    </a>
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>

                </li>

            {% endif %}

        {% endfor %}


        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                Simple Link<span class="right badge badge-danger">New</span>
                </p>
            </a>
        </li>

    </ul>
</nav>
<!-- /.sidebar-menu -->


{#<!-- Sidebar Menu -->#}
{#<nav class="mt-2">#}
{#    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">#}
{#        <!-- Add icons to the links using the .nav-icon class#}
{#        with font-awesome or any other icon font library -->#}
{#        #}
{#        <li class="nav-item has-treeview menu-open">#}
{#            <a href="#" class="nav-link active">#}
{#                <i class="nav-icon fas fa-tachometer-alt"></i>#}
{#                <p>#}
{#                    基础信息<i class="right fas fa-angle-left"></i>#}
{#                </p>#}
{#            </a>#}
{#            <ul class="nav nav-treeview">#}
{#                <li class="nav-item">#}
{#                    <a href="#" class="nav-link active">#}
{#                        <i class="far fa-circle nav-icon"></i>#}
{#                        <p>主页</p>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a href="#" class="nav-link">#}
{#                        <i class="far fa-circle nav-icon"></i>#}
{#                        <p>数据总览</p>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </li>#}
{##}
{#        <li class="nav-item has-treeview menu-open">#}
{#            <a href="#" class="nav-link active">#}
{#                <i class="nav-icon fas fa-tachometer-alt"></i>#}
{#                <p>#}
{#                    行业信息<i class="right fas fa-angle-left"></i>#}
{#                </p>#}
{#            </a>#}
{#            <ul class="nav nav-treeview">#}
{#                <li class="nav-item">#}
{#                    <a href="#" class="nav-link active">#}
{#                        <i class="far fa-circle nav-icon"></i>#}
{#                        <p>一级行业</p>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a href="#" class="nav-link">#}
{#                        <i class="far fa-circle nav-icon"></i>#}
{#                        <p>二级行业</p>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </li>#}
{##}
{#        <li class="nav-item">#}
{#            <a href="#" class="nav-link">#}
{#                <i class="nav-icon fas fa-th"></i>#}
{#                <p>#}
{#                Simple Link<span class="right badge badge-danger">New</span>#}
{#                </p>#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
{#</nav>#}
{#<!-- /.sidebar-menu -->#}