{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block css %}
    <!-- css -->
    <style>
        #cover_img{
          cursor: pointer;
          position: relative;
        }
        #cover_img img{
          position: relative;
          -webkit-transition: -webkit-transform 0.5s;
          -moz-transition: -moz-transform 0.5s;
          -o-transition: -o-transform 0.5s;
          transition: transform 0.5s;
        }
        #cover_img img:hover{
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
        }
    </style>
{% endblock %}

{% block start-title %}
    {{ category.name }}
{% endblock %}


{% block content %}


<div class="card card-solid">

    <div class="card-body pb-0">
        <div class="row d-flex align-items-stretch">

            {% for data in allresources %}

                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                    <div class="card bg-light" style="width: 100%">
                        <div class="card-header text-muted border-bottom-0">
                            <h5>
                                {{ data.title }}

                                {% if data.is_top == 1 %}
                                    <i class="fas fa-fire-alt text-danger ml-1"></i>
                                {% endif %}

                            </h5>

                        </div>

                        <div class="card-body pt-0">

                            {% if data.category_id == 1 %}
                                <a href="{% url 'peixun:cate_detail1' data.id %}">
                            {% elif data.category_id == 2 %}
                                <a href="{% url 'peixun:cate_detail2' data.id %}">
                            {% elif data.category_id == 3 %}
                                <a href="{% url 'peixun:cate_detail3' data.id %}">
                            {% elif data.category_id == 4 %}
                                <a href="{% url 'peixun:cate_detail4' data.id %}">
                            {% elif data.category_id == 5 %}
                                <a href="{% url 'peixun:cate_detail5' data.id %}">
{#                            {% elif data.category_id == 6 %}#}
{#                                <a href="{% url 'peixun:cate_detail6' data.id %}">#}
                            {% elif data.category_id == 7 %}
                                <a href="{% url 'peixun:cate_detail7' data.id %}">
                            {% endif %}

                                <div class="row">
                                    <div class="col-7">
{#                                        <h2 class="lead"><b>{{ data.title }}</b></h2>#}
                                        <p class="text-muted text-sm mb-0"><b>简介: </b> {{ data.desc }}</p>
                                    </div>
                                    <div class="col-5 text-center" id="cover_img">
                                        <img src="{{ data.image.url }}" alt="" class="img-fluid img-thumbnail">
                                    </div>
                                </div>

                            </a>

                        </div>


{#                        <div class="card-footer">#}
{#                            <div class="text-right">#}
{#                                <a href="{{ data.link }}" target="_blank" class="btn btn-sm bg-teal">#}
{#                                    <i class="fas fa-link"></i> 直接跳转#}
{#                                </a>#}
{#                                {% if data.category_id == 1 %}#}
{#                                    <a href="{% url 'peixun:cate_detail1' data.id %}" class="btn btn-sm btn-primary">#}
{#                                {% elif data.category_id == 2 %}#}
{#                                    <a href="{% url 'peixun:cate_detail2' data.id %}" class="btn btn-sm btn-primary">#}
{#                                {% elif data.category_id == 3 %}#}
{#                                    <a href="{% url 'peixun:cate_detail3' data.id %}" class="btn btn-sm btn-primary">#}
{#                                {% elif data.category_id == 4 %}#}
{#                                    <a href="{% url 'peixun:cate_detail4' data.id %}" class="btn btn-sm btn-primary">#}
{#                                {% elif data.category_id == 5 %}#}
{#                                    <a href="{% url 'peixun:cate_detail5' data.id %}" class="btn btn-sm btn-primary">#}
{#                                {% elif data.category_id == 6 %}#}
{#                                    <a href="{% url 'peixun:cate_detail6' data.id %}" class="btn btn-sm btn-primary">#}
{#                                {% elif data.category_id == 7 %}#}
{#                                    <a href="{% url 'peixun:cate_detail7' data.id %}" class="btn btn-sm btn-primary">#}
{#                                {% endif %}#}
{##}
{#                                <i class="fas fa-arrow-circle-right"></i> 进入专栏#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}


                    </div>
                </div>

            {% endfor %}


        </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">

                {% if allresources.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ allresources.previous_page_number }}">上一页</a></li>
                {% endif %}


                {% for page in allresources.paginator.page_num_range %}
                    {% if page == allresources.number %}
                        <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if allresources.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ allresources.next_page_number }}">下一页</a></li>
                {% endif %}

            </ul>
        </nav>
    </div>
    <!-- /.card-footer -->

</div>


{% endblock %}


{% block js %}
    <!-- js -->
{% endblock %}