{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    整体数据
{% endblock %}


{% block head %}
  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">

{% endblock %}


{% block start-title %}

{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                    <div class="card-tools float-left">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <button type="button" class="btn btn-default float-right" id="datesingle-btn">
                                <i class="far fa-calendar-alt"></i>
                                <span id="showsingledate">请选择日期</span>
                                <i class="fas fa-caret-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>分类</th>
                                <th>当日值（万元）</th>
                                <th>前日值（万元）</th>
                                <th>日环比</th>
                                <th>周同比</th>
                                <th>季度任务值（万元）</th>
                                <th>季度任务进度</th>
                                <th>季度时间进度</th>
                                <th>季度预估完成率</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>整体</td>
                                <td>126.00</td>
                                <td>142.56</td>
                                <td>8.56%</td>
                                <td>2.65%</td>
                                <td>8415.63&nbsp;&nbsp;<a href="" class="fas fa-pencil-alt"></a></td>
                                <td>56.68</td>
                                <td>36.68</td>
                                <td>92.65%</td>
                            </tr>
                            <tr>
                                <td>信息流</td>
                                <td>126.00</td>
                                <td>142.56</td>
                                <td>8.56%</td>
                                <td>2.65%</td>
                                <td>8415.63&nbsp;&nbsp;<a href="" class="fas fa-pencil-alt"></a></td>
                                <td>56.68</td>
                                <td>36.68</td>
                                <td>92.65%</td>
                            </tr>

                            <tr>
                                <td>品牌</td>
                                <td>126.00</td>
                                <td>142.56</td>
                                <td>8.56%</td>
                                <td>2.65%</td>
                                <td>8415.63&nbsp;&nbsp;<a href="" class="fas fa-pencil-alt"></a></td>
                                <td>56.68</td>
                                <td>36.68</td>
                                <td>92.65%</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                    <div class="card-tools float-left">
                        <div class="input-group input-group-sm">
                            <button type="button" class="btn btn-default float-right" id="daterange-btn">
                                <i class="far fa-calendar-alt"></i>
                                <span id="showrangedate">请选择日期</span>
                                <i class="fas fa-caret-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->




        <!-- Date single -->
        <div class="form-group">
            <label>Date single button:</label>
            <div class="input-group">
                <button type="button" class="btn btn-default float-right" id="datesingle-btn">
                    <i class="far fa-calendar-alt"></i>
                    <span id="showsingledate">请选择日期</span>
                    <i class="fas fa-caret-down"></i>
                </button>
            </div>
        </div>
        <!-- /.form group -->

        <!-- Date and time range -->
        <div class="form-group">
            <label>Date range button:</label>
            <div class="input-group">
                <button type="button" class="btn btn-default float-right" id="daterange-btn">
                    <i class="far fa-calendar-alt"></i>
                    <span id="showrangedate">请选择日期</span>
                    <i class="fas fa-caret-down"></i>
                </button>
            </div>
        </div>
        <!-- /.form group -->


{% endblock %}


{% block script %}

<!-- InputMask -->
<script src="{% static 'js/moment.min.js' %}"></script>
<!-- date-range-picker -->
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/zh-cn.js' %}"></script>

    <script>

    $(function () {
        //single date button
        $('#datesingle-btn').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            autoApply:true,
            startDate:moment().subtract(1, 'days'),
            },
            function (start) {
            $('#showsingledate').html(start.format('YYYY-MM-DD'))
            },
        );

        $('#datesingle-btn').on('apply.daterangepicker',function (ev,picker) {
            choice_date=picker.startDate.format('YYYY-MM-DD');
            alert(choice_date);
            $.post('/more_all/,{choice_date:choice_date}',function (result) {
                console.log(result);

            })
        });

        //Date range as a button
        $('#daterange-btn').daterangepicker({
                ranges   : {
                    '今日'       : [moment(), moment()],
                    '昨日'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '前七天' : [moment().subtract(6, 'days'), moment()],
                    '前30天': [moment().subtract(29, 'days'), moment()],
                    '本月'  : [moment().startOf('month'), moment().endOf('month')],
                    '上月'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate  : moment().subtract(1, 'days'),
                autoApply:true,
                minDate:moment('2020-04-01'),
                maxDate:moment().subtract(1, 'days'),
            },
            function (start, end) {
            $('#showrangedate').html(start.format('YYYY.MM.DD') + ' - ' + end.format('YYYY.MM.DD'))
        }
    )


    });

    </script>
{% endblock %}