{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    产品资源
{% endblock %}

{% block css %}
    <!-- css -->

    <style>
    label{
        margin: 0;
    }
    </style>

{% endblock %}

{% block start-title %}

{% endblock %}


{% block content %}

    <div class="row">

        <div class="col-md-3">
            <a href="javascript:history.go(-1)" class="btn btn-primary btn-block mb-3"> 返 回 </a>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ data.category.name }}</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">
                        {% for t in alltitle %}

                            <li class="nav-item">
                                <a href="{% url 'chanpin:resources_show' t.id %}" class="nav-link">
                                    <i class="fas fa-filter"></i>&nbsp;&nbsp;{{ t.title }}
                                </a>
                            </li>

                        {% endfor %}

                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->

        <div class="col-md-9">
            <div class="card card-primary card-outline">

                <div class="card-body p-0">
                    <div class="mailbox-read-info">
                        <h5>{{ data.title }}</h5>
                        <h6>
                            <span class="mailbox-read-time text-sm float-right">
                                {{ data.author.first_name }}-{{ data.created_time | date:'Y年m月d日' }}
                            </span>
                        </h6>
                    </div>

                    {% if data.desc %}
                        <div class="mailbox-controls with-border">
                            {% autoescape off %}
                                {{ data.desc }}
                            {% endautoescape %}
                        </div>
                    {% endif %}

                    <div class="p-0">
                        <iframe src="{{ data.upload_file.url }}" style="width: 100%;min-height: 666px"></iframe>
                    </div>
                <!-- /.mailbox-read-message -->
                </div>
            <!-- /.card-body -->

            <!-- /.card-footer -->
                <div class="card-footer">
                    <a href="{% url 'chanpin:resources_download' data.id %}">
                        <button type="button" class="btn btn-outline-primary">
                            <i class="fas fa-download"></i> 下载
                        </button>
                    </a>
                </div>
            <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->



    </div>
    <!-- /.row -->

{% endblock %}


{% block js %}
    <!-- js -->
{% endblock %}